<!doctype html><html><head>
  <meta charset=utf8>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <title>Calculadora piscina</title>
  <style>
    input[type=number]{
      text-align:right;
      width:4em;
      background:lightblue;
    }
    table{
      margin-bottom:8px;
    }
    [center]{
      text-align:center;
    }
    [small]{
      font-size:smaller;
    }
  </style>
</head><body>

<div>
  <b>Calculadora piscina</b> &mdash;
  <code>
    <a href="//github.com/holalluis/calculadora_piscina" target="_blank">github.com/holalluis/calculadora_piscina</a>
  </code>
  <hr>
</div>

<div id=app>
  <b>Construcció</b>
  <table border=1>
    <tr><td>Llarg<td><input type=number v-model.number="llarg_m"><td>m
    <tr><td>Ample<td><input type=number v-model.number="ample_m"><td>m
    <tr><td>Profunditat <td><input type=number v-model.number="alçada_mitjana_m" step="0.1"><td>m
    <tr><td>Volum<td center>{{volum_m3}}<td>m<sup>3</sup>
  </table>

  <b>Dosificar clor líquid (lleixiu)</b>
  <table border=1>
    <tr>
      <td>Concentració clor (ampolla)
      <td><input type=number v-model.number="conc_lejia_gL">
      <td>g/L
    </tr>
    <tr>
      <td>Volum que s'afegirà (ampolla)
      <td><input type=number v-model="volum_lejia_L" step="0.1">
      <td>L
    </tr>
    <tr>
      <td>Clor que s'afegirà (ampolla&rarr;piscina)
      <td center>{{clor_afegit_lejia_g}}
      <td>g
    </tr>
    <tr>
      <td>Concentració clor que s'afegirà (piscina)
      <td center>{{conc_afegida_lejia_mgL.toFixed(2)}}
      <td>mg/L
    </tr>
    <tr>
      <td>Concentració clor actual (piscina)
      <td><input type=number v-model.number="conc_clor_actual_mgL" step="0.1">
      <td>mg/L
    </tr>
    <tr>
      <td>Concentració clor final (piscina) (actual+afegida)
      <td center>
        {{
          (conc_clor_actual_mgL + conc_afegida_lejia_mgL).toFixed(2)
        }}
      </td>
      <td>mg/L
    </tr>
  </table>

  <b>Disminuir pH amb salfumant (HCl, àcid clorhídric)</b>
  <table border=1>
    <tr>
      <td>Concentració HCl (ampolla)
      <td colspan=2>
        <div v-for="perc in [10,20,30,32,34,36,38]">
          <label>
            <input type=radio v-model.number="conc_salfumant_percentatge" :value="perc">
            {{perc}}%
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <td>Concentració HCl (ampolla)
      <td center>{{conc_salfumant_M}}
      <td>M
    </tr>
    <tr>
      <td>Concentració HCl (ampolla)
      <td center>{{conc_salfumant_gL.toFixed(2)}}
      <td>g/L
    </tr>
    <tr>
      <td>Volum que s'afegirà (ampolla)
      <td><input type=number v-model.number="volum_salfumant_mL" step="0.1">
      <td>mL
    </tr>
    <tr>
      <td>Volum que s'afegirà (ampolla)
      <td center>{{volum_salfumant_L}}
      <td>L
    </tr>
    <tr>
      <td>HCl que s'afegirà (ampolla&rarr;piscina)
      <td center>{{HCl_afegit_salfumant_g.toFixed(2)}}
      <td>g
    </tr>
    <tr>
      <td>mols HCl que s'afegiran (ampolla&rarr;piscina)
      <td center>{{mols_HCl_afegits.toFixed(4)}}
      <td>mols
    </tr>
    <tr>
      <td>pH actual (piscina)
      <td><input type=number v-model.number="pH_actual" step="0.1">
      <td>&empty;
    </tr>
    <tr>
      <td>pH final (piscina)
      <td center>{{pH_final.toFixed(2)}}
      <td>&empty;
    </tr>
  </table>

  <b>Informació</b>
  <table border=1>
    <tr>
      <th>Propietat
      <th>Recomanat
      <th>Màxim
      <th>Unitat
      <th>Descripció
    </tr>
    <tr>
      <td>pH
      <td center>7.0 - 7.4
      <td center>
      <td>&empty;
      <td small>
        -log([H<sub>3</sub>O<sup>+</sup>]).
        Acidesa.
      </td>
    </tr>
    <tr>
      <td>Clor
      <td center>0.5 - 2
      <td center>3
      <td>mg/L
      <td small>
        ClO<sup>-</sup>, "Hipoclorit".
        Desinfectant. Altres noms: "FCL", "Clor lliure", "Clor actiu",
      </td>
    </tr>
    <tr>
      <td>Clor combinat
      <td center>0
      <td center>0.6
      <td>mg/L
      <td small>"CCL". Cloramines i altres compostos. Indicador de contaminació.
      </td>
    </tr>
    <tr>
      <td>Estabilitzant
      <td center>25 - 30
      <td center>100
      <td>mg/L
      <td small>
        (CNOH)<sub>3</sub>, Àcid cianúric (CYA).
        Impedeix que la llum solar degradi el clor.
        Per sobre 50, disminueix l'acció desinfectant del clor.
      </td>
    </tr>
    <tr>
      <td>Alcalinitat
      <td center>&ge;80
      <td center>
      <td>mg/L
      <td small>
        Capacitat per suportar canvis de pH.
      </td>
    </tr>
    <tr>
      <td>Calci
      <td center>0
      <td center>185
      <td>mg/L
      <td small>
        Ca<sup>2+</sup>. Duresa de l'aigua. Pot formar precipitats
      </td>
    </tr>
    <tr>
      <td>Fosfats
      <td center>0
      <td center>?
      <td>mg/L
      <td small>
        PO<sub>4</sub><sup>3-</sup>. Fa aparèixer algues
      </td>
    </tr>
    <tr>
      <td>Coure
      <td center>0
      <td center>?
      <td>mg/L
      <td small>
        Cu<sup>2+</sup>.
      </td>
    </tr>
    <tr>
      <td>Ferro
      <td center>0
      <td center>?
      <td>mg/L
      <td small>
        Fe<sup>2+</sup>, Fe<sup>3+</sup>.
      </td>
    </tr>
  </table>
</div>

<script>
  let app=Vue.createApp({
    data(){return{
      llarg_m:8,
      ample_m:5,
      alçada_mitjana_m:1.5,

      //dosificació clor líquid
      conc_lejia_gL:150,
      volum_lejia_L:1,
      conc_clor_actual_mgL:1,

      //dosificació salfumant
      conc_salfumant_percentatge:20,
      volum_salfumant_mL:5,
      pH_actual:7.5,
    }},

    computed:{
      volum_m3(){
        let l=this.llarg_m;
        let w=this.ample_m;
        let h=this.alçada_mitjana_m;
        return l*w*h;
      },

      //dosificació clor líquid
      clor_afegit_lejia_g(){
        let gL = this.conc_lejia_gL;
        let vL = this.volum_lejia_L;
        return gL*vL;
      },
      conc_afegida_lejia_mgL(){
        return this.clor_afegit_lejia_g/this.volum_m3; //g/m3 == mg/L
      },

      //dosificació salfumant
      volum_salfumant_L(){
        return this.volum_salfumant_mL/1000;
      },
      conc_salfumant_M(){
        return {
          //percentatge / molaritat
          10:	2.87,
          20:	6.02,
          30:	9.45,
          32:	10.17,
          34:	10.90,
          36:	11.64,
          38:	12.39,
        }[this.conc_salfumant_percentatge]; //mols/L
      },
      conc_salfumant_gL(){
        const pes = 36.45;//g/mol
        return this.conc_salfumant_M*pes; //g/L
      },
      HCl_afegit_salfumant_g(){
        let gL = this.conc_salfumant_gL;
        let vL = this.volum_salfumant_L;
        return gL*vL;
      },
      mols_HCl_afegits(){
        let M = this.conc_salfumant_M;
        let L = this.volum_salfumant_L;
        return M*L;
      },
      pH_final(){
        let litres        = this.volum_m3*1e3;       //litres piscina
        let pH_actual     = this.pH_actual;
        let conc_H_actual = Math.pow(10,-pH_actual); //mols/litre

        let mols_H_actual = conc_H_actual*litres;          //mols
        let mols_H_afegit = this.mols_HCl_afegits;         //mols
        let mols_finals_H = mols_H_actual + mols_H_afegit; //mols

        let conc_final_H  = mols_finals_H/(litres+this.volum_salfumant_L); //M
        let pH = -Math.log10(conc_final_H);
        return pH;
      },
    },
  }).mount("#app");
</script>
