<!doctype html><html><head>
  <meta charset=utf8>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <title>Calculadora piscina</title>
  <style>
    input[type=number]{
      text-align:right;
      width:4em;
      background:lightblue;
    }
    table{
      margin-bottom:8px;
    }
    [center]{
      text-align:center;
    }
    [small]{
      font-size:smaller;
    }
  </style>
</head><body>

<div id=app>
  <b>Construcció</b>
  <table border=1>
    <tr><td>Llarg <td><input type=number v-model.number="llarg_m"> <td>m
    <tr><td>Ample <td><input type=number v-model.number="ample_m"> <td>m
    <tr><td>Profunditat <td><input type=number v-model.number="alçada_mitjana_m" step="0.1"><td>m
    <tr><td>Volum <td center>{{volum_m3}} <td>m<sup>3</sup>
  </table>

  <b>Dosificar clor líquid (lleixiu)</b>
  <table border=1>
    <tr>
      <td>Concentració clor líquid (ampolla)
      <td><input type=number v-model="conc_lejia_gL">
      <td>g/L
    </tr>
    <tr>
      <td>Volum clor líquid (ampolla)
      <td><input type=number v-model="volum_lejia_L" step="0.1">
      <td>L
    </tr>
    <tr>
      <td>Clor que s'afegirà (ampolla&rarr;piscina)
      <td center>{{clor_afegit_lejia_g}}
      <td>g
    </tr>
    <tr>
      <td>Concentració clor que s'afegirà (piscina)
      <td center>{{conc_afegida_lejia_mgL.toFixed(2)}}
      <td>mg/L
    </tr>
    <tr>
      <td>Concentració clor actual (piscina)
      <td><input type=number v-model="conc_clor_actual_mgL" step="0.1">
      <td>mg/L
    </tr>
    <tr>
      <td>Concentració clor final (piscina) (actual+afegida)
      <td center>
        {{
          (conc_clor_actual_mgL + conc_afegida_lejia_mgL).toFixed(2)
        }}
      </td>
      <td>mg/L
    </tr>
  </table>

  <b>Informació</b>
  <table border=1>
    <tr>
      <th>Propietat
      <th>Recomanat
      <th>Màxim
      <th>Unitat
      <th>Descripció
    </tr>
    <tr>
      <td>pH
      <td center>7.2 - 7.6 
      <td center>7.8
      <td>&empty;
      <td small>Acidesa
    </tr>
    <tr>
      <td>Clor
      <td center>0.5 - 2
      <td center>5
      <td>mg/L
      <td small>Desinfectant. Altres noms: "FCL", "Clor lliure", "Clor actiu", "Hipoclorit", "ClO<sup>-</sup>"
    </tr>
    <tr>
      <td>Estabilitzant
      <td center>25 - 30
      <td center>100
      <td>mg/L
      <td small>
        Àcid cianúric (CYA). Impedeix que la llum solar degradi el clor.
        Per sobre 50, disminueix l'acció desinfectant del clor.
      </td>
    </tr>
    <tr>
      <td>Alcalinitat
      <td center>?
      <td center>?
      <td>mg/L
      <td small>Capacitat per suportar canvis de pH
    </tr>
    <tr>
      <td>Calci
      <td center>0
      <td center>?
      <td>mg/L
      <td small>Pot formar precipitats
    </tr>
    <tr>
      <td>Fosfats
      <td center>0
      <td center>?
      <td>mg/L
      <td small>Fa aparèixer algues
    </tr>
    <tr>
      <td>Coure
      <td center>0
      <td center>?
      <td>mg/L
      <td small>
    </tr>
    <tr>
      <td>Ferro
      <td center>0
      <td center>?
      <td>mg/L
      <td small>
    </tr>
  </table>
</div>

<script>
  let app=Vue.createApp({
    data(){return{
      llarg_m:8,
      ample_m:5,
      alçada_mitjana_m:1.5,

      //dosificació clor líquid
      conc_lejia_gL:150,
      volum_lejia_L:0.5,
      conc_clor_actual_mgL:0.33,
    }},

    computed:{
      volum_m3(){
        let l=this.llarg_m;
        let w=this.ample_m;
        let h=this.alçada_mitjana_m;
        return l*w*h;
      },

      clor_afegit_lejia_g(){
        let gL = this.conc_lejia_gL;
        let vL = this.volum_lejia_L;
        return gL*vL;
      },

      conc_afegida_lejia_mgL(){
        return this.clor_afegit_lejia_g/this.volum_m3; //g/m3 == mg/L
      },
    },
  }).mount("#app");
</script>
